.nav-link-color{
    color: #333232;
    font-size: 20px;
    font-weight: 500;
}
.bg{
    background-color: rgb(247, 245, 245);
}
.nav-link a:hover{
    color: tomato;
    font-weight: bold;
}
.logout-btn-user{
    padding: 0;
    color: tomato;
    border: none;
    background: none;
    font-size: 18px;
    margin-right: 10px;
}
.logout-btn-user:hover{
    background-color: blue;
}
.user-name{
    text-decoration: none;
    font-size: 20px;
    color: black;
    background-color: tomato;
    padding: 2px;

}
