.bg-pd-color{
    background-color: white;
    border-radius: 10px;
}
.product-img{
    width: 230px;
    height: 230px;
}
.btn-product{
    background-color: tomato;
    font-weight: bold;
    color: white;
}
.btn-product:hover{
    background-color: skyblue;
    color: black;
}
.body-text{
    color: rgb(179, 101, 82);
}
.color-pd-name{
    color: tomato;
}
.about-text{
    text-align: center;
}